*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    border-radius: 0;
}
.btn{
    border-radius: 0;
}
.list{
    display: flex;
    justify-content: space-between;
   
}
body{
    padding:10px
}
.bill{
    width: 28rem;
    background-color: #000000;
    color: #fff;
    align-items: center;
    
}
.list-inside{
    background-color: #000000;
    color: #fff; 
    display: flex;
    justify-content: space-between;

    
}
.btn2{
    height: 40px;
    width: 300px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000000;
    background-color: #fff;
}
.total-bar{
    border: 2px solid #fff;
}
.line{
    height: 2px;
    background-color: 2px solid #fff;
}